@{
    ViewData["Title"] = "Confirmação de exclução";
}

<div class="texte-center">
    <h3> realmente desejar apagar o contato?</h3>
    </div>

<a class="btn btn-primary btn blcock" role="button">  cancelar exclusão</a>
<a class ="btn btn-danger btn blcock" role="button"> Confirmar exclusão</a>