@{
    ViewData["Title"] = "Criar contatos";
}

<div class="cadastrar-contato">
    <h2>Cadastrar Contato</h2>

    <form action="">

        <label for="nome"><i class='bx bxs-user-circle'></i> Nome do Contato:</label>
        <input type="text" name="" class="nome" placeholder="ex: Jonas">

        <label for="email"><i class='bx bxs-envelope'></i> E-mail do Contato:</label>
        <input type="text" name="" class="email" placeholder="example@gmail.com">

        <label for="telefone"><i class='bx bxs-phone'></i> Telefone:</label>
        <input type="text" name="" class="telefone" placeholder="(00)00000-0000">

        <div class="criar-btns">
            <a role= "button" class="cancelar-btn" asp-controller="Contato" asp-action="Index">Cancelar</a>
            <input type="submit" value="Cadastrar Contato">
        </div>
    </form>
</div>

