@{
    ViewData["Title"] = "Lista de contatos";
}

<table class="table">
    <div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" id="adicionar-btn" role="button" asp-controller= "Contato" asp-action= "Criar" ><i class='bx bxs-user-plus'></i> Adicionar Novo contato</a>
    </div>
    <br />
    <thead>
        <tr>
            <th class="table-top" scope="col"></th>
            <th class="table-top" scope="col">Nome</th>
            <th class="table-top" scope="col">Número</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><i class='bx hub bxs-user-circle'></i></th>
            <td>João</td>
            <td>(00)00000-0000</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger"asp asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row"><i class='bx hub bxs-user-circle'></i></th>
            <td>Jacob</td>
            <td>(00)00000-0000</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role= "button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row"><i class='bx hub bxs-user-circle'></i></th>
            <td>Larry</td>
            <td>(00)00000-0000</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>