@{
    ViewData["Title"] = "Confirmação de exclusão";
}


<div class="confirmar-exclusao">
    <h3> Realmente desejar apagar o contato?</h3>

    <div class="exclude-btn">
        <a class = "btn btn-primary btn blcock" asp-controller= "Contato" asp-action= "Index" role="button">  Cancelar</a>
        <a class ="btn btn-danger btn blcock" role="button"> Confirmar Exclusão</a>
    </div>
</div>
