@{
    ViewData["Title"] = "Editar Contatos";
}

<table class="table">
    <div class="text-center">

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary" role="button">Adicionar Novo contato</a>
        </div>
