@{
    ViewData["Title"] = "Cadastro";
}

<div class="login-container">
        <form action="">
            <label for="nome"><i class='bx bxs-user-circle'></i> Nome:</label>
            <input type="text" name="" class="nome" placeholder="ex: Jonas">

            <label for="telefone"><i class='bx bxs-phone'></i> Telefone:</label>
            <input type="text" name="" class="telefone" placeholder="(00)00000-0000">

            <label for="email"><i class='bx bxs-envelope'></i> E-mail:</label>
            <input type="email" name="" class="email" placeholder="example@gmail.com">
    
            <label for="senha"><i class='bx bxs-lock-alt'></i> Senha:</label>
            <input type="password" name="" class="senha" placeholder="Insira a Senha">

            <label for="senhaConf"><i class='bx bxs-lock-alt'></i> Confirmar Senha:</label>
            <input type="password" name="" class="senhaConf" placeholder="Insira a mesma Senha">

            

            <input type="button" value="Cadastrar" onclick="verificarSenha(), verificarCampos()">

            <a asp-controller= "Login" asp-action= "Index" id="criar-conta">Já tenho conta</a>
        </form>
</div>



