@{
    ViewData["Title"] = "Login";
}

<div class="demo-left">
            <p>Aqui você pode salvar seus contatos e conversar com segurança e privacidade</p>
            <div class="center-btn">
                <a role="button" asp-controller= "Login" asp-action= "Login">Login</a>
                <a href="">Cadastrar</a>
            </div>
</div>