@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Login - ContactHub</title>
</head>
<body>
    <div class="text-center">
        <h2><i class='bx bxs-coffee' ></i> Contact<span>Hub</span></h2>
    </div>
    
    <div class="container">
        <form action="">
            <label for="email"><i class='bx bxs-envelope'></i> E-mail:</label>
            <input type="email" name="" id="" placeholder="example@gmail.com">
    
            <label for="senha"><i class='bx bxs-lock-alt'></i> Senha:</label>
            <input type="password" name="" id="" placeholder="Insira a Senha">

            <input type="button" value="Entrar">
        </form>
    </div>
    <p>Não possui conta? <a href="cadastro.html" id="criar-conta">Registre-se</a></p>
</body>
</html>